.dark-mode {
  background-color: #171c28;
  color: white;
  transition: "0.1s";
}


.skills-modified {
  margin-left: 50px;
}

.skills-ul-mo:hover {
  background-color: #645beb;
  cursor: pointer;
  color: antiquewhite;
  border-color: #645beb;
  border-width: 5px;
  border: none ;
}

